<!DOCTYPE html>
<html lang="uz-UZ" ng-app="invoice1">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="assets/css/style.css">
		<link rel="stylesheet" href="assets/css/bootstrap.css">
		<script src="assets/js/angular.min.js"></script>
		<script src="assets/js/invoice1.js"></script>
	</head>
	<body class="container-fluid">
		<div ng-controller="InvoiceController as invoice">
			<h1>Abbos aka:</h1>
			<form>
				<div class="form-group d-flex mt-3">
					CPU/Yadro: <input class="form-control w-50" type="number" min="0" ng-model="invoice.cpu" required>
					GPU: <input class="form-control w-50" type="number" min="0" ng-model="invoice.gpu" required>
				</div>

				<div class="form-group d-flex">
					RAM: <input class="form-control w-50" type="number" min="0" ng-model="invoice.ram" required>
				</div>

				<div class="form-group">
					    <label for="select">Example select</label>
					<select ng-model="invoice.inCurr" class="form-control" id="select">
						<option selected>Open this select menu</option>
						<option ng-repeat="c in invoice.currencies">{{c}}</option>
					</select>
				</div>
				<div>
					<b>Jami:</b>
					<span ng-repeat="c in invoice.currencies">
						{{invoice.total(c) | currency:c}}
					</span><br>
					<button class="btn" ng-click="invoice.pay()">Pay</button>
				</div>
			</form>
			<hr>
		</body>
	</html>
	<!--
	Copyright 2021 Google LLC. All Rights Reserved.
	Use of this source code is governed by an MIT-style license that
	can be found in the LICENSE file at http://angular.io/license
	-->